.MovieGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-gap: 16px;
}

.errorcontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


@media (max-width: 768px) {
  .MovieGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .errorcontainer{
    width: 100%;
  }
  .errorcontainer img{
    width: 100%;
  }
}

@media (max-width: 480px) {
  .MovieGrid {
    grid-template-columns: 1fr;
  }
}